# Node modules (si tu utilises front-end avec npm/yarn)
**/node_modules/

# Logs
**/npm-debug.log
**/yarn-error.log
**/yarn-debug.log
**/pnpm-debug.log

# Builds
**/bin/
**/obj/
**/dist/
**/out/

# Environnements sensibles
**/.env
**/*.local

# Visual Studio / IDE
.vscode/
.vs/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.userosscache
*.sln.docstates
*.code-workspace
*.history/
*.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Rider
.idea/

# ASP.NET Core publish output
**/publish/
**/wwwroot/lib/

# NuGet
*.nupkg
**/packages/
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code settings (garder seulement certains fichiers)
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
*.log
*.vsix

*.csproj
*.http
*.slnx